*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'DM Serif Display', sans-serif;
    font-family: 'Public Sans', sans-serif;
    background-image: url("../images/body-bg.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 646px 618px;
    background-color: #EDF3F8;
}
@media (max-width:850px){
    body{
    background-image: url("../images/tablet-body-bg.png");
    background-repeat: no-repeat;
    background-size: 949px auto;
    background-position: center top;
}
}
@media (max-width:689px){
   body{
    background-image: url("../images/body-mobile-bg.png");
    background-repeat: no-repeat;
    background-size: 780px auto;
    background-position: center top;
}
}