.site-footer {
    padding: 31px 0;
    background-color: #1B262F;
    background-image: url(../../images/footerimg.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.footer {
    @include Display($items: center, $space:space-between, $gap:0px);
}
.footer__logo-wrapper {
    @include Display($items:center, $space: start, $gap:64px);
}
.footer__logo {
    display: inline-block;
}
.footer__list {
    @include Display($items:center, $space:start, $gap:40px);
}
.footer__logo-link {
    @include textStyle($MB:0px, $FS:15px, $FW:700, $CLR:#9e9e9f, $LH:17px, $CASE:capitalize);
    transition: all 0.3s linear;

    &:hover{
        color: $white-clr;
    }
}
.logo__app-wrapper{
    @include Display($items:center, $space:start, $gap:24px);   
}
.app__logo{
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover{
        color: #DA6D97;
    }
}



// mobile 
@media (max-width:808px){
    .site-footer{
        padding: 41px 120px;
        background-image: url(../../images/footer-mobile-bg.png);
        background-repeat: no-repeat;
        background-size: 455px auto;
        background-position: center bottom;
    }
    .footer {
        @include Display($items: center, $space:center, $gap:40px);
        flex-direction: column;
    }
    .footer__logo-wrapper {
        @include Display($items:center, $space: center, $gap:64px);
        flex-direction: column;
    }
    .footer__list {
        @include Display($items:center, $space:start, $gap:31px);
        flex-direction: column;
    }
    }
    // mobile 