.information-section {
    padding-bottom: 96px;
}
.information__list {
    @include Display($items: center, $space:start, $gap:30px);
    text-align: center;
}
.information__img {
    margin-bottom: 32px;
}
.information__title {
    @include textStyle($MB:16px, $FS:18px, $FW:700, $CLR:$title-clr, $LH:25px, $CASE:inherit);
    font-family: 'Public Sans';
}
.information__text {
    @include textStyle($MB:0px, $FS:15px, $FW:400, $CLR:$title-clr, $LH:25px, $CASE:inherit);
}
.start__form{
    width: 445px;
}