.pricing-hero-section {
    padding-bottom: 96px;
}
.hero__pricing {
    @include Display($items: center, $space:start, $gap:30px);
}
.hero__pricing-title {
    @include textStyle($MB:72px, $FS:56px, $FW:400, $CLR:$title-clr, $LH:56px, $CASE:inherit);
    font-family: DM Serif Display;
}
.hero__pricing-content {
    width: 350px;
}
.cost__title {
    @include textStyle($MB:16px, $FS:32px, $FW:400, $CLR:$pink-clr, $LH:40px, $CASE:inherit);
    font-family: DM Serif Display;
}
.cost__text {
    @include textStyle($MB:8px, $FS:15px, $FW:400, $CLR:$title-clr, $LH:28px, $CASE:inherit);
    font-family: DM Serif Display;
}
.cost__subtitle {
    @include textStyle($MB:24px, $FS:56px, $FW:400, $CLR:$title-clr, $LH:72px, $CASE:inherit);
    font-family: DM Serif Display;
}
.cost__list {
    padding: 24px 0 36px;
    border-top: 1px solid rgb(54, 83, 107);
    border-bottom: 1px solid rgb(54, 83, 107);
    @include Display($items:start, $space:start, $gap:8px);
    flex-direction: column;
}
.cost__item{
    display: flex;
    align-items: center;
    gap: 24px;
}
.cost__strong {
    @include textStyle($MB:0px, $FS:16px, $FW:400, $CLR:$title-clr, $LH:28px, $CASE:inherit);
    font-family: DM Serif Display;   
}
.cost__span {
    @include textStyle($MB:0px, $FS:16px, $FW:400, $CLR:#6C8294, $LH:28px, $CASE:inherit);
    font-family: DM Serif Display;  
    margin-left: 34px;
}
.cost__btn{
    display: inline-block;
    margin-top: 24px;
    @include buttonStyle($BTN_W:168px, $BTN_PY:14.5px, $BTN_BG_CLR:transparent,$BTN_BR_Radius:30px, $BTN_Border_CLR:$title-clr,$BTN_FS:16px,$BTN_FW:700, $BTN_LH:17px, $BTN_CLR:$title-clr,$BTN_CASE:inherit);
    &:hover{
        background-color: $title-clr;
        color: $white-clr;
    }
}