.simple-section {
    padding: 146px;
    background-image: url(../../images/simple-bg.png);
    background-repeat: no-repeat;
    background-position: right top;
}
.simple {
    @include Display($items: center, $space:space-between, $gap:0px);
}
.simple__content-wrapper {
    width: 445px;
}
.simple__title {
    @include textStyle($MB:24px, $FS:48px, $FW:400, $CLR:$title-clr, $LH:56px, $CASE:inherit);
    font-family: DM Serif Display;
}
.simple__text {
    @include textStyle($MB:0px, $FS:15px, $FW:400, $CLR:$text-clr, $LH:28px, $CASE:inherit);
    font-family: Public Sans;
}


// tablet 
@media (max-width:1195px){
    .simple-section{
        padding-bottom: 100px;
        background-image: none;
    }
    .simple{
        @include Display($items: center, $space:start, $gap:48px);
        text-align: center;
            flex-direction: column-reverse;
    }
    .simple__content-wrapper {
        width: 70%;
        text-align: center;
    }
}
// tablet 


// mobile 
@media (max-width:846px){
    .simple-section{
        padding-bottom: 80px;
    }
    .simple{
        @include Display($items: center, $space:start, $gap:48px);
            flex-direction: column-reverse;
    }
    .simple__content-wrapper {
        width: 76%;
        text-align: center;
    }
    .simple__title{
        @include textStyle($MB:24px, $FS:36px, $FW:400, $CLR:$title-clr, $LH:36px, $CASE:inherit);
    font-family: DM Serif Display;
    }
}
// mobile 
